<% include ../../partials/boilerplate %>

<div class="kanye_instance">
  <h1><%=kanye_instances.context%></h1>
  <img src="<%=kanye_instances.img_url%>" width="200" alt="<%=kanye_instances.context%>" />
  <br>
  <div class="showEditDelete">
  <form action="/kanye_instances/<%=kanye_instances.id%>/edit" class='put' method="GET">
  <input class="modify" type="submit" class="editlink" value="Edit">
  </form>
  <form action="/kanye_instances/<%=kanye_instances.id%>?_method=DELETE" class='delete' method="POST">
  <input class="modify" type="submit" class="dellink" value="Delete">
  </form>
  </div>
</div>

<script src='../../public/js/script.js'></script>
<% include ../../partials/end %>
